.gradient-background {
  background: linear-gradient(90deg, rgba(0,0,254,1) 10%, rgba(160,241,198,1) 100%);
  height: 1500px;
  width: 1800px;
  max-width: 100vw;
  border-radius: 50%;
  margin: 0px;
  position: absolute;
  top: -700px;
  left: -200px;
  z-index: -4;
  filter: blur(150px);
}

.grain-hero{
  background-image: url('src/assets/texture.png');
  height: 100vh;
  width: 100vw;
  z-index: 1;
  mix-blend-mode: overlay;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  z-index: -3;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 40px;
}

.logo {
  height: 40px;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

li {
  display: inline;
  margin: 0 3px;
}

a {
  justify-self: end;
}

.nav-items {
  color: var(--primary-color);
  place-self: center;
  font-size: 18px;
}


.main-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 20px 40px;
}

.title {
  font-size: 70px;
  line-height: 70px;
  color: var(--primary-color);
  width: 680px;
  align-self: end;
}

.frontend {
  font-weight: 700;
}

.and {
  font-weight: 100;
}

.content-creator {
  font-weight: 300;
}

.profile-container {
  grid-row: 1 / 3;
  justify-self: end;
}

.profile-pic {
  width: 350px;
}
