.gradient-background-footer {
  width: 100vw;
  height: 100vh;
  max-height: 700px;
  position: absolute;
  bottom: 0px;
  z-index: -4;
}

.grain-footer {
  width: 100vw;
  height: 100vh;
  max-height: 900px;
  position: absolute;
  bottom: 0px;
  z-index: -3;
  mix-blend-mode: overlay;
  opacity: 1;
}

.footer-container {
  position: relative;
  padding-bottom: 10px;
}

.footer-texts {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  padding-right: 220px;
  line-height: 20px;
  color: var(--primary-color);
}

.cta-text {
  margin-top: 50px;
  font-size: 70px;
  font-weight: 100;
}

.cta-mail {
  font-size: 70px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 45px;
}

.footer-title{
  margin-top: 20px;
}


.footer-texts a {
  text-decoration: underline;
}

.cta-mail a{
  text-decoration: underline;
}

.footer-logo{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  margin-right: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1070px){
  .footer-texts{
    font-size: 16px;
    margin-left: 20px;
    margin-right: 100px;
    padding-right: 20px;
    line-height: 20px;
  }

  .cta-text{
    font-size: 60px;
  }

  .cta-mail{
    font-size: 60px;
  }

  .footer-logo{
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .gradient-background-footer {
    width: 100vw;
    height: 85vh;
    position: absolute;
    bottom: 0px;
    z-index: -4;
  }
}


@media screen and (max-width: 800px){
  .footer-texts{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 0px;
    padding-right: 80px;
    line-height: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 254, 0.3);
  }

  .cta-text{
    font-size: 24px;
    margin-top: 20px;
  }

  .cta-mail{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .footer-logo{
    margin-right: 20px;
    margin-bottom: 20px;
    height: 30px;
  }

  .footer-title{
    font-size: 20px;
  }

  .gradient-background-footer {
    width: 100vw;
    height: 85vh;
    position: absolute;
    bottom: 0px;
    z-index: -4;
  }
}

