@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0%;
}

body{
  background-color: var(--primary-color);
}

:root{
  --primary-color: #FAFAFA;
  --secondary-color: #0B0B6B;
}

button {
  background: none;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
